.span{
    padding: 20px;
    margin: 10px;
    background: black;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
}

.active_span{
    padding: 20px;
    margin: 10px;
    background: orange;
    border-radius: 40px;
    cursor: pointer;
}